<h2> List of Songs:</h2>
<!-- <p id="total-count"><%= @artist.songs.length %> songs -->
<ul class="song-list">
  <% @artist.songs.each do |song| %>
  <li class="song-<%= song.id %> song-delete">
    <p><%= song.name %></p>
    <p id="<%="#{song.id}"%>"  class="btn btn-danger button-artist delete-song">Delete Song</p>
  </li>
  <% end %>
</ul>
  <% if @artist.songs.length > 0 %>
<p class="delete-all-songs btn">Delete all songs</p>
<% end %>
